<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.base.framwork" >

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    
    <application>

        <provider
            android:authorities="com.base.context.ApplicationContextProvider"
            android:name="com.base.context.ApplicationContextProvider"
            android:exported="false" />
    </application>
</manifest>
