<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.uipractice">

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.autofocus" />

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/app_logo"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".NewFragmentListActivity"
            android:exported="false" />
        <activity
            android:name=".opengl.OpenglCameractivity"
            android:exported="false" />
        <activity
            android:name=".opengl.OpenglEffectsActivity"
            android:exported="false" />
        <activity
            android:name=".opengl.OpenglSplitActivity"
            android:exported="false" />
        <activity
            android:name=".opengl.OpenglTexActivity"
            android:exported="false" />
        <activity
            android:name=".opengl.OpenglBeautyActivity"
            android:exported="false" />
        <activity
            android:name=".camera.CameraXActivity"
            android:exported="false" />
        <activity
            android:name=".image.GlideActivity"
            android:exported="false" />
        <activity
            android:name=".plugin.PluginTestActivity"
            android:exported="false" /> <!-- <activity android:name=".plugin.PluginActivity"></activity> -->
        <activity
            android:name=".recyclerview.layoutmanger.LayoutManagerActivity"
            android:exported="false" />
        <activity
            android:name=".ndk.NDKActivity"
            android:exported="false" />
        <activity
            android:name=".rxjava.RxTestActivity"
            android:exported="false" />
        <activity
            android:name=".window.WindowTestActivity"
            android:exported="false" />
        <activity
            android:name=".net.RetrofitActivity"
            android:exported="false" />
        <activity
            android:name=".rxjava.HotObserverActivity"
            android:exported="false" />
        <activity
            android:name=".others.FileProviderActivity"
            android:exported="false" />
        <activity
            android:name=".net.WebsocketActivity"
            android:exported="false" />
        <activity
            android:name=".ui.others.OthersUIActivity"
            android:exported="false" />
        <activity
            android:name=".ui.others.ProgressbarActivity"
            android:exported="false" />
        <activity
            android:name=".ui.eventdispatch.EventDispatchActivity"
            android:exported="false" />
        <activity
            android:name=".anim.AnimTestActivity"
            android:exported="false" />
        <activity
            android:name=".anim.AnimListActivity"
            android:exported="false" />
        <activity
            android:name=".camera.CameraActivity"
            android:exported="false" />
        <activity
            android:name=".camera.Camera2Activity"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".fragment.FragmentLiveActivity"
            android:exported="false" />
        <activity
            android:name=".fragment.FragmentLifecyclerActivity"
            android:exported="false" />
        <activity
            android:name=".fragment.FragmentViewpager2Activity"
            android:exported="false" />
        <activity
            android:name=".fragment.FragmentListActivity"
            android:exported="false" />
        <activity
            android:name=".basepractice.StatusActivity"
            android:exported="false" />
        <activity
            android:name=".basepractice.BaseLibActivity"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".rxjava.AutoDisposeActivity"
            android:exported="false" />
        <activity
            android:name=".ui.viewPager2.ViewPagerActivity"
            android:exported="false" />
        <activity
            android:name=".ui.recyclerview.itemdivider.Viewpager2Activity"
            android:exported="false" />
        <activity
            android:name=".rxjava.BackPressActivity"
            android:exported="false" />
        <activity
            android:name=".rxjava.RxJavaActivity"
            android:exported="false" />
        <activity
            android:name=".rxjava.ThreadActivity"
            android:exported="false" />
        <activity
            android:name=".architecture.LiveActivity"
            android:exported="false" />
        <activity
            android:name=".architecture.ArchitectureActivity"
            android:exported="false" />
        <activity
            android:name=".ui.UIActivity"
            android:exported="false" />
        <activity
            android:name=".ui.AttrStyleActivity"
            android:exported="false" />
        <activity
            android:name=".ui.keybord.KeybordActivity"
            android:exported="false"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.recyclerview.itemdivider.RvDividerActivity"
            android:exported="false" />
        <activity
            android:name=".ui.recyclerview.RecyclerviewBaseActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".ui.ivpacage.ImageViewActivity"
            android:exported="false" />
        <activity
            android:name=".ui.ivpacage.ImageViewHintActivity"
            android:exported="false" />
        <activity
            android:name=".ui.nestedscroll.NestedBaseActivity"
            android:exported="false" />
        <activity
            android:name=".ui.nestedscroll.NestedBaseUsedActivity"
            android:exported="false" />
        <activity
            android:name=".ui.nestedscroll.NestedBehaviorActivity"
            android:exported="false" />
        <activity
            android:name=".ui.nestedscroll.AppbarBehaviorActivity"
            android:exported="false" />
        <activity
            android:name=".architecture.ViewModelActivity"
            android:exported="false" />
        <activity
            android:name=".net.NetListActivity"
            android:exported="false" />
        <activity
            android:name=".opengl.OpenglBaseUseActivity"
            android:exported="false" />
        <activity
            android:name=".opengl.OpenglMainActivity"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.uipractice.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/export_paths" />
        </provider>

        <activity
            android:name=".plugin.StubActivity"
            android:exported="false" />

        <service
            android:name=".plugin.service.ProxyService"
            android:exported="false" />

        <service android:name=".fragment.floatwindow.FloatWindowService"
            android:exported="false"/>
    </application>

</manifest>